@page
@model BackLinkModel
@{
}
@{
        ViewData["Title"] = "Back Link";
}
<h1 class="govuk-heading-xl">Accordion</h1>
<div class="app-prose-scope">
    <p class="govuk-body">This is an example implementation of the back link component as a Tag helper</p>
    <p class="govuk-body"><a href="/" backlink>Back</a></p>
</div>