@page
@model CheckBoxesModel
@{
    ViewData["Title"] = "Checkboxes";

}
@{

}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
@foreach (var checkbox in Model.Checkboxes)
{
    <vc:gov-uk-checkboxes gov-uk-checkboxes-pattern=checkbox></vc:gov-uk-checkboxes>
}
