@page
@model CheckBoxesModel
@{
    ViewData["Title"] = "Checkboxes";

}
@{

}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<vc:gov-uk-checkboxes gov-uk-checkboxes-pattern=Model.Checkboxes></vc:gov-uk-checkboxes>
