@page
@model FieldsetsModel
@{
    ViewData["Title"] = "Fieldsets";
}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
<div class="app-prose-scope">
    @foreach (var fieldset in Model._fieldsets)
   {
        <div class="app-example-wrapper" data-module="app-tabs">
            <div class="app-example__toolbar"><a href="">With Multiple inputs</a></div>

            <vc:gov-uk-fieldset gov-uk-fieldset-pattern=fieldset></vc:gov-uk-fieldset>
        </div>
   }

</div>
