@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<span class="govuk-caption-xl">Design System</span>
<h1 class="govuk-heading-xl">.Net Core</h1>
<div class="app-prose-scope">
    <p class="govuk-body">
        This is an example website using the <a href="https://github.com/scrambledheads/gov.uk.net">
            .Net Core implementation
            of the Gov.Uk Design System
        </a>. The intent being to demonstrate how a Design system can be implemented using .Net Core.
    </p>
    <p class="govuk-body">This is not intended to be an official resource, although I hope to meet the 
        the <a href="https://design-system.service.gov.uk/community/contribution-criteria/#developing-a-community-resource-or-tool">criteria for developing a community resource.</a> 
        here at some point. So as the first is to have a clear owner. My name is David Joseph and I can be <a href="https://twitter.com/scrambledheads">contacted on Twitter</a></p>
    <p class="govuk-body">This is aimed at currently supports version 3.10.2 of the Design System</p>
</div>
