@page
@model IndexModel
@{
        ViewData["Title"] = "Home page";
}
<span class="govuk-caption-xl">Design System</span>
<h1 class="govuk-heading-xl">.Net Core</h1>
<div class="app-prose-scope">
    <p class="govuk-body">This is an example website using the <a href="https://github.com/scrambledheads/gov.uk.net">.Net Core implementation 
        of the Gov.Uk Design System</a>. The intent being to demonstrate how a Design system can be implemented using .Net Core.</p>
    <p class="govuk-body">Example pages: <a asp-page="Accordion">Accordion</a> </p>
</div>
