<div class="app-pane__subnav">
    <nav class="app-subnav">
        <ul class="app-subnav__section">
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="Accordion">Accordion</a></li>
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="BackLink">Back link</a></li>
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="Breadcrumbs">Breadcrumbs</a></li>
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="Button">Button</a></li>
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="CharacterCount">Character Count</a></li>
            <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-page="Checkboxes">Checkboxes</a></li>
        </ul>
    </nav>
</div>