@model GovUkCharacterCountPattern
@{
    HtmlString maxLength = null;
    HtmlString threshold = null;
    HtmlString maxWords = null;
    if (Model.MaxLength > 0)
    {
        maxLength = new HtmlString($" data-maxlength=\"{Model.MaxLength}\" ");
    }
    if (Model.Threshold > 0)
    {
       threshold = new HtmlString($" data-threshold=\"{Model.Threshold}\" ");
    }
    if (Model.MaxWords > 0)
    {
        maxWords = new HtmlString($" data-maxwords=\"{Model.MaxWords}\" ");
    }

}
<div class="govuk-character-count" data-module="govuk-character-count" @maxLength@threshold@maxWords>
GovUkTextArea

GovUkHint
</div>